Repository tapasvit20/circle-simple-path-filtering: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-module-a, run-module-b

.circleci/config.yml:

version: 2.1

#setup: << pipeline.parameters.run-setup >>
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2

parameters:
  run-setup:
    type: boolean
    default: true
  run-module-a:
    type: boolean
    default: false
  run-module-b:
    type: boolean
    default: false

jobs:
  module-a:
    docker:
      - image: alpine
    steps:
      - checkout
      - run: "echo 'Hello from module A!'"
      - run: cat module-a/README.md

  module-b:
    machine: true
    steps:
      - checkout
      - run: "echo 'Hello from module B!'"
      - run: cat module-b/README.md

  module-b-post:
    docker:
      - image: alpine
    steps:
      - run: "echo 'Continuing module B'"
      - run: env

workflows:
  pre:
    when: << pipeline.parameters.run-setup >>
    jobs:
      - path-filtering/filter:
          # Compare files on main
          base-revision: main
          # Config for continuation; herein we reuse this config itself
          config-path: .circleci/config.yml
          # 3-column space-separated table for mapping; `path-to-test parameter-to-set value-for-parameter` for each row
          mapping: |
            .* run-setup false
            module-a/.* run-module-a true
            module-b/.* run-module-b true
  module-a:
    when: << pipeline.parameters.run-module-a >>
    jobs:
      - module-a
  module-b:
    when: << pipeline.parameters.run-module-b >>
    jobs:
      - module-b
      - module-b-post:
          requires:
            - module-b

Update config.yml
  .circleci/config.yml
Due: run-setup=false

Update README.md
  module-b/README.md
Due: run-setup=false, run-module-b

Update README.md
  module-a/README.md
Due: run-setup=false, run-module-a

created test1
  .circleci/config.yml
  .circleci/continue-config.yml
Due: run-setup=false

updatedmonorepo
  .circleci/circle_trigger.sh
  .circleci/config.yml
  .circleci/continue-config.yml
  README.md
  module-a/README.md
  module-b/README.md
  packages/api/README.md
  packages/app/README.md
  packages/auth/README.md
  packages/gateway/README.md
Due: run-setup=false, run-module-a, run-module-b

updated
  .circleci/config.yml
Due: run-setup=false
